@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стиль всей полосы прокрутки */
::-webkit-scrollbar {
  width: 6px; /* Ширина скроллбара */
}

/* Стиль ползунка */
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--nextui-secondary-200)); /* Цвет ползунка */
  border-radius: 3px; /* Скругление углов */
}

/* Стиль фона скроллбара */
::-webkit-scrollbar-track {
  background-color: hsl(var(--nextui-secondary-100)); /* Цвет фона */
  border-radius: 3px; /* Скругление углов */
}

/* Стиль при наведении мыши на ползунок */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--nextui-secondary-300)); /* Цвет ползунка при наведении */
}

.scroll-gutter {
  scrollbar-gutter: stable;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid hsl(var(--nextui-secondary-200)); /* Цвет и стиль линии */
}
